body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightblue;
}
.table {
    position :fixed ;
    left :50px ;
    table-layout : fixed ;
    width : 70em ;
    overflow : hidden ;
  }
td
 { 
    width  :10em ;
    font-size : 20px}
a {
  color: #00B7FF;
}

li{
   display:inline;
   font-size : 20px;
   margin : 2em ; 
}

.header {
  background-color : blue ;
}

tr
{  width : 20px ;}
   
